.sub{
 display: flex;
 justify-content: center;
 align-items: center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;

  }

  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 10px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
#bt1{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

#bt2{
    background-color: #764a37; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}