.popup1{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* scroll-behavior: smooth; */
    background-color: rgba(130, 90, 90, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner1{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background: rgb(219, 219, 219);
    height: 600px;
}

.popup-inner1 .close-btn1{
    position: absolute;
    top: 5px;
    right: 16px;
    background-color: #412e2e; /* Green */
    border: none;
    color: white;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1px 2px;
    cursor: pointer;
    font-size: 20px;

}

