.tab-main{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid;
    height: 5rem;
    gap: 50px;
     /* position:relative ;
    left: 20px;  */

}
#btn{
    cursor: pointer;
    background-color: #de2b0c; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;

  
}

#btn5{
    cursor: pointer;
    background-color: #dd2403; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;

}
/* .buttonss{
display: flex;


} */

    @media (max-width:630px){
    #btn{
        padding: 10px 32px;
      
    }
    #btn5{
        padding: 0px 32px;
    }
    .Not{
       position: relative;
       top: 40px;
       right: 110px;
    }
    .pending{
        position: relative;
        left: 60px;
    }
    .tab-main{
        height: 8rem;
    }

    .sub-tab{
        position: relative;
       left: 90px;
       font-weight: bold;
    }
    }